
.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root{

    color:white !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    color:white !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color:white !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color:white !important;
}
